body {
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	border: 0;
}

div.errorDiv{
	vertical-align: middle;
	color: red;
}

div.leftDiv {
	display: table-cell;
	min-width: 160px;
    border: 10;
    padding: 10px;
}

div.rightDiv {
	display: table-cell;
    width: 100%;
   	border: 10;
    padding: 10px;
}

div.parentDivDetail {
    width: 100%;
   	border: 10;
    padding: 10px;
}